<!DOCTYPE html> {% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CREATE NEW POLL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap/css' %}" />
    <script src="{% static 'css/bootstrap/js' %}"></script>
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>

<body>
    <h1>Create new create_poll</h1>
    <form method="post" action="{% url 'create_poll' %}">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <p> {{form.non_field_errors }} </p>
        {% endif %}


        <table border="1">
            <tr>
                <td><label id="{{ form.title.id_for_label }}">{{ form.title.label }}</label></td>
                <td>{{ form.title.errors }}{{ form.title }}</td>
                <td><label id="{{ form.no_questions.id_for_label }}">{{ form.no_questions.label }}</label></td>
                <td>{{ form.no_questions.errors }}{{ form.no_questions }}</td>
            </tr>

            <tr>
                <td><label id="{{ form.email.id_for_label }}">{{ form.email.label }}</label></td>
                <td colspan="3">{{ form.email.errors }}{{ form.email }}</td>
            </tr>

            <tr>
                <td><label id="{{ form.start_date.id_for_label }}">{{ form.start_date.label }}</label></td>
                <td>{{ form.start_date.errors }}{{ form.start_date }}</td>
                <td><label id="{{ form.end_date.id_for_label }}">{{ form.end_date.label }}</label></td>
                <td>{{ form.end_date.errors }}{{ form.end_date }}</td>
            </tr>
            <tr>
                <td colspan="4"><input type="submit" value="CREATE"></td>
            </tr>
        </table>

        <!--{{ form.as_p }}-->
        
    </form>
</body>

</html>