<!DOCTYPE html> {% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bootstrap/css' %}" />
    <script src="{% static 'css/bootstrap/js' %}"></script>
</head>

<body>
    <h1>{{ poll.title }}</h1>
    <h3>Question List</h3>
    <form method="post" action="{% url 'poll_detail' poll.id %}">
        {% csrf_token %}
        <div style="text-align:center;">
            <input type="submit" value="SAVE">
            <input type="button" value="CANCEL" onclick="window.location = {% url 'index' %}">
        </div>
        <ul>
            {% for question in poll.question_set.all %}
            <li>
                {{ question.text }} ?
                <ul>
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice{{question.id}}" value=" {{ choice.id }} " {% if choice.answer %}checked="checked" {%endif%}> {{ choice.text }} - {{choice.answer}}</br>
                    {% endfor%}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </form>
</body>

</html>